<div class="container">
	<div class="row">
		<h2>Exemplos para estudos e testes</h1>
	</div>
	<div class="row">
		<h4>Requisiçoes JSON</h4>
		<button class="btn waves-effect waves-light" ng-click="local()">Local</button>
		<button class="btn waves-effect waves-light"  ng-click="externo()">Externo</button>
		<br>
		<h4>Remover Caracteres e espaços</h4>
		<button class="btn waves-effect waves-light"  ng-click="remover()">Remover</button>
		<h4>Validação de formularios</h4>
		<button class="btn waves-effect waves-light" ng-click="validar()">Validação</button>
		<h4>Lista</h4>
		<button class="btn waves-effect waves-light" ng-click="lista()">Lista</button>
	</div>
	<div class="row">
		<blockquote>
			<p><span>PS:</span> Alguns exemplos precisam de grandes melhoras, pois se trata de um estudo de aprendizado incial, poranto o modo pensado para os codigos não são dos melhores </p>
			<p><span>PS:</span> teste de git no atom</p>
		</blockquote>
	</div>

</div>
